@page {
  margin: -10;
  size: A4;
}

.profile-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.profile {
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 90%;
}

.profileImage {
  margin-top: 1rem;
  width: 29vw;
  height: 29vw;
  min-width: 150px;
  min-height: 150px;
  max-height: 200px;
  max-width: 200px;
  align-self: flex-end;
}

.cols-wrapper {
  width: 90vw;
  max-width: none;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.column {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.column--left {
  min-width: min-content;
  width: 50%;
}

.column--right {
  min-width: min-content;
  width: 50%;
}


h3.intro {
  color: rgb(120, 120, 120);
  width: 90%;
}

.techStackCarousel > img {
  filter: none;
  width: 25px;
  height: 25px;
}

.techStackCarousel > a > img {
  filter: none;
  width: 25px;
  height: 25px;
}

h3 {
  font-size: smaller;
}

dt {
  font-size: small;
}

dd {
  margin: 0 0 0 0;
  font-size: x-small;
}

.footer > p {
  font-size: 0.4rem;
  color: rgb(138, 138, 138);
}

.footer {
  position: fixed;
  bottom: 1vh;
}
