@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "printStyle.css" print;

* {
    font-family: 'Montserrat', sans-serif
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.footer {
    font-size: 0.6rem;
    color: rgb(138, 138, 138);
    text-align: center;
    top: 99vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer:hover {
    opacity: 1;
    font-size: large;
}

.profile {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.profileData {
    display: flex;
    flex-wrap: wrap-reverse;
}

.profileImage {
    width: 29vw;
    height: 29vw;
    min-width: 188px;
    min-height: 188px;
    max-height: 300px;
    max-width: 300px;
    align-self: flex-end;
}

.contact>a {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.contact>a:hover {
    text-decoration: underline;
}

.techStack {
    display: block;
    width: 100%;
    height: auto;
}

.techStackCarousel {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.techStackCarousel>img {
    filter: grayscale(90%);
    height: 2rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

.techStackCarousel>a>img {
    filter: grayscale(90%);
    height: 2rem;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

.techStackCarousel>img:hover {
    filter: grayscale(0%);
    transition: all .1s ease-in;
    transform: scale(1.3);
}

.techStackCarousel>a>img:hover {
    filter: grayscale(0%);
    transition: all .1s ease-in;
    transform: scale(1.3);
}

h3.intro {
    margin-left: 6rem;
    margin-right: 6rem;
    color: rgb(120, 120, 120);
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
}

.column {
    display: block;
    flex-wrap: wrap;
    height: auto;
    left: 6rem;
    max-width: 49vw;
}

dd {
    color: rgb(120, 120, 120);
}

dt {
    color: rgb(110, 110, 110);
    line-height: 2rem;
}

h2 {
    color: rgb(80, 80, 80);
    line-height: 2rem;
}

dt {
    color: rgb(48, 48, 48);
    line-height: 2rem;
}

.column>dt {
    margin: 1rem 0rem 1rem 0rem;
}

h1 {
    font-size: 3.2em;
}

dd {
    margin: 5px 5px 5px 5px;
    word-spacing: 1px;
}

dd>strong {
    color: black;
    font-weight: bold;
}